$accent: #3e3aff;
$accentLight: #d1d1f8;
$black: #191919;
$white: #f6f6f6;
$green: #1a8111;
$blue: #221380;

.code {
	color: $black;
	background-color: $accentLight;
	width: clamp(200px, 50svw, 250px);
	padding: 0.1rem 0.8rem;
	line-height: 0.5rem;
	position: absolute;
	top: 35vw;
	right: 0;

	text {
		color: $green;
	}
	
	number {
		color: $blue;
	}
	.textWraped {
		padding-left: 2rem;
	}
	.lines {
		padding-left: 1rem;
	}
}

@media (min-width: 550px) {
	.code {
		top: 150px;
		padding: 0.3rem 1rem;
		font-size: 18px;
	}
}

@media (min-width: 630px) {
	.code {
		top: 150px;
    left: 150px;
		padding: 0.3rem 1rem;
		font-size: 18px;
	}
}

@media (min-width: 921px) {
	.code {
		font-size: 16px;
		max-width: 200px;
		left: 30px;
	}
}

@media (min-width: 1324px) {
	.code {
		font-size: 16px;
		left: 170px;
	}
}
